<% content_for :page_title, "New schedule event" %>
<% content_for :page_description, "Adding a new schedule event" %>

<% content_for(:sidebar) do %>
  &nbsp;
<% end %>

<%= form_for([:admin, @schedule_event], :html => {:multipart => true}) do |form| %>
  <%= render :partial => 'schedule_event_form', :locals => {:form => form} %>
  <p><%= submit_tag "Create" %></p>
<% end %>
